/* CSS for small devices */
@media (max-width: 767px) {
    .showing-results-text {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .search-results-container {
      max-height: none;
      overflow-y: visible;
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    .search-result {
      margin: 10px 0;
      padding: 10px;
    }
  
    .brewery-logo-search {
      width: 60px;
    }
  
    .about-btn,
    .direction-btn {
      position: static;
      margin-top: 10px;
      margin-right: 0;
    }
  }
  
  /* CSS for larger devices */
  @media (min-width: 768px) {
    .search-results-container {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
    }
  }
  

  