:root {
    /*colors*/
    /* --background-color: rgb(67, 16, 1); */
    --background-color: rgb(63, 44, 39);
    --background-color-light: rgb(255, 255, 255);
    --background-color-light-transparent: rgba(255, 255, 255, .75);

    --text-color-dark: rgb(35, 25, 23);
    --text-color-light: rgb(255, 255, 255);

    --gold-gradient: radial-gradient(rgb(232, 216, 163), rgb(225, 196, 83));
    --gradient-hover: radial-gradient(rgb(181, 116, 0), rgb(151, 65, 0));
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 300;
}

h2 {
    font-size: 45px;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

.navbar {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

.btn {
    color: var(--text-color-dark);
    background-image: var(--gold-gradient);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn:hover {
    color: var(--text-color-light);
    background-image: var(--gradient-hover);
}

.background-image {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height:100%;
}

/* css for the index html*/
#main-page-video-web {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
}

.main-container {
    position: fixed;
    top: 5%;
    min-width: 100%;
    color: var(--text-color-dark);
    background-color: var(--background-color-light-transparent);
    border-radius: 5px;
    margin-top: 15%;
    padding: 5%;
}

.search-btn-main {
    width: 20%;
}

.alert {
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-dark);
}

/* css for the search results html*/
.showing-results-text {
    position: fixed;
    color: var(--text-color-light);
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.search-results-container {
    position:fixed;
    top: 16%;
    overflow-y: auto;
    max-height: 600px;
    color: var(--text-color-dark);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--background-color-light-transparent);
    border-radius: 5px;
}

.search-result {
    position: relative;
    outline: solid 2px var(--text-color-dark);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    padding-bottom: 30px;
}

.brewery-logo-search {
    float: left;
    width: 80px;
}

.direction-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.about-btn {
    position: absolute;
    bottom: 5px;
    right: 140px;
}

/* css for the brewery about html*/
.brewery-container {
    position:fixed;
    top: 12%;
}

.brewery-name {
    color: var(--text-color-light);
    margin-top: 2%;
}

.brewery-logo {
    background-color: var(--background-color-light-transparent);
    border-radius: 5px;
}

.brewery-logo, .about-direction-btn {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
}

.about-container {
    color: var(--text-color-dark);
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--background-color-light-transparent);
    border-radius: 5px;
}


/* css for the directions html*/
#sidebar {
    position: fixed;
    background-color: var(--background-color-light-transparent);
    padding-left: 20px;
    padding-right: 10px;
}

.directions-list-container{
    overflow-y: auto;
    max-height: 450px;
}

.direction-icon {
    float: left;
    width: 25%;
}

#maparea {
    position: fixed;
    left: 30%;
    color: var(--text-color-light);
    background-color: var(--background-color-light-transparent);
}

/* media responsive - tablet and smaller computer screens */
@media screen and (max-width: 1240px) {
    #maparea {
        left: 34%;
    }
}

/* media responsive - phone */
@media screen and (max-width: 735px) {
    .search-results-container {
        top: 20%;
    }
    #maparea {
        display: none;
    }
}